<div class="container">
  <div class="header">
    <h1> ¡Hola {{destino}}!</h1>
    <app-fecha-actual></app-fecha-actual>
  </div>
</div>
<div class="container">
  <h3>Ejemplo de interpolación de un objeto</h3>
  <hr>
  <app-viewmodelo-spec></app-viewmodelo-spec>
</div>
<div class="container">
  <h3>Ejemplo de interpolación por método:</h3>
  <hr>
  <app-ejmetodo></app-ejmetodo>
</div>
<div class="container">
  <h3>Ejemplo de Property Binding</h3>
  <hr>
  <app-ejpropertybinding></app-ejpropertybinding>
</div>

<div class="container">
  <div class="footer">
    <app-copyright></app-copyright>
  </div>
</div>
