<div class="container">
  <div class="header">
    <h1> ¡Hola {{destino}}!</h1>
    <app-fecha-actual></app-fecha-actual>
  </div>
</div>
<div class="container">
  <h3>Ejemplo de interpolación de un objeto</h3>
  <hr>
  <app-viewmodelo-spec></app-viewmodelo-spec>
</div>
<div class="container">
  <h3>Ejemplo de interpolación por método:</h3>
  <hr>
  <app-ejmetodo></app-ejmetodo>
</div>
<div class="container">
  <h3>Ejemplo de Property Binding</h3>
  <hr>
  <app-ejpropertybinding></app-ejpropertybinding>
</div>
<div class="container">
  <h3>Ejemplo de Event Binding</h3>
  <hr>
  <app-eventbinding></app-eventbinding>
</div>
<div class="container">
  <h3>Ejemplo de Two Way Binding</h3>
  <hr>
  <app-ej2waybinding></app-ej2waybinding>
</div>
<div class="container">
  <h3>Ejemplo de directiva ngIf</h3>
  <hr>
  <app-ejdirectivagif></app-ejdirectivagif>
</div>
<div class="container">
  <h3>Ejemplo de directiva ngStyle</h3>
  <hr>
  <app-ejdirectivastyle></app-ejdirectivastyle>
</div>
<div class="container">
  <h3>Ejemplo de directiva ngClass</h3>
  <hr>
  <app-ejdirectivangclass></app-ejdirectivangclass>
</div>

<div class="container">
  <h3>Ejemplo de directiva ngFor</h3>
  <hr>
  <app-ejdirectivangfor></app-ejdirectivangfor>
</div>

<div class="container">
  <h3>Ejemplo de directiva ngFor con objetos</h3>
  <hr>
  <app-arrayobjetos></app-arrayobjetos>
</div>

<div class="container">
  <h3>Ejemplo de directiva ngSwitch</h3>
  <hr>
  <app-ejdirectivangswitch></app-ejdirectivangswitch>
</div>

<div class="container">
  <h3>Ejemplo de directiva ngFor con objetos</h3>
  <hr>
  <app-ejmidirectiva></app-ejmidirectiva>
</div>

<div class="container">
  <div class="footer">
    <app-copyright></app-copyright>
  </div>
</div>
